{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail room-image mx-auto d-block">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General Suit</h1>
      <p> you home away from home</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>
{{end}}
{{define "js"}}
<script>
  document.getElementById("check-availability-button").addEventListener("click", function () {
    let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;


    attention.custom({
      title: 'Choose your dates',
      msg: html,
      willOpen: () => {
          //if (c.willOpen !== undefined) { c.willOpen(); }
          const elem = document.getElementById("reservation-dates-modal");
          const rp = new DateRangePicker(elem, {
            format: 'yyyy-mm-dd',
            showOnFocus: true,
          })
        },
        didOpen: () => {
         // if (c.didOpen !== undefined) { c.didOpen(); }
          document.getElementById("start").removeAttribute("disabled");
          document.getElementById("end").removeAttribute("disabled");
        },
      callback: function (result) {
        let form = document.getElementById("check-availability-form");
        let formData = new FormData(form);
       formData.append("csrf_token", "{{.CSRFToken}}");
        console.log(result)
        fetch("/search-availability-json", {
          method: "post",
          body: formData,
        }).then(response => response.json()).then(data => console.log(data))
      }
    });
  })
</script>
{{end}}